body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

#about {
    text-align: center;
    padding: 20px;
    background-color: #FA7070;
}

img {
    border-radius: 60%;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#skills{
    background-color: #F2BED1;
    padding: 25px;
    margin: 0;
}
#projects{
    background-color: #F2BED1;
    padding: 25px;
    margin: 0;
    
}
#resume{
    background-color: #F2BED1;
    padding: 25px;
    margin: 0;
}
#contact {
    background-color: #F2BED1;
    padding: 25px;
    margin: 0;
}

a {
    text-decoration: none;
    color: #333;
}
